body {
  background-color: black;
  color: white;
}

a {
    color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  font-size: 64px;
  font-style: italic;
}

.georgia-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lucida-font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.monospace-font {
  font-family: monospace;
}

.font-size-18-px {
  font-size: 18px;
}

.links {
  display: inline-block;
  font-size: 25px;
  margin: 0px 10px;
  padding: 20px;
  border: 1px solid white;
  text-align: left;
}

.center {
    text-align: center;
}

.description-head {
  margin-top: 35px;
  margin-bottom: 0px;
}

.description {
  width: 55%;
  margin: 10px auto;
  margin-bottom: 25px;
}

.container {
  border: 1px solid white;
  display: block;
  padding: 10px 20px;
  width: 50%;
  margin: 0 auto;
}